<section id="profiledisplay">
    <div id="bookmarkscard">
        <div id="bookmarksheader">Bookmarks List</div>
        <ui id="bookmarklist">
            <li>Sample book</li>
        </ui>
    </div>
    <div id="profilecard">
        <div id="profileheader">{{user_name}}</div>
        {{#each books as |book| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      Title: {{title}} <br>
      Author: {{authors}} <br>
      Description: {{description}} <br>
      Book Link: {{book_link}} <br>
      Book Cover: {{book_cover}} <br>
      Book Rating: {{book_rating}} <br>
      Published On: {{published_date}}
    </h2>

        </div>
      </div>
    {{/each}}
  </div>
</section>